<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <!-- enctype='multipart/form-data' -->
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <h3>Create a New Listing</h3>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            id="title"
            placeholder="Enter a Title"
            required
          />
          <div class="valid-feedback">title Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="description"
            cols="30"
            rows="10"
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">please enter a short decriptions!</div>
        </div>
        <div class="mb-3">
          <select
            class="form-select form-select-sm"
            aria-label="Small select example"
            name="listing[category]"
            required
          >
            <option selected>Select Category</option>
            <option value="trending">Trending</option>
            <option value="rooms">Rooms</option>
            <option value="iconic-cities">Iconic-cities</option>
            <option value="mountains">Mountains</option>
            <option value="castles">Aastles</option>
            <option value="amazing-pools">Amazing-pools</option>
            <option value="camping">camping</option>
            <option value="farms">farms</option>
            <option value="arctic">Arctic</option>
            <option value="beach">Beach</option>
            <option value="boat">Boat</option>
            <option value="skiinout">Ski-in/out</option>
            <option value="apartment">Apartment</option>
            <option value="new">New</option>
            <option value="woodlands">Woodlands</option>
            <option value="lake">Lake</option>
            <option value="cabins">Cabins</option>
            <option value="countryside">Countryside</option>
            <option value="bedandbreakfasts">Bedandbreakfasts</option>
            <option value="campsite">Campsite</option>
            <option value="historicalhomes">Historical Homes</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload listing image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
            placeholder="Enter image URL/Link"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="Enter price"
              class="form-control"
              name="listing[price]"
              id="price"
              required
            />
            <div class="invalid-feedback">please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              class="form-control"
              placeholder="Enter country"
              required
            />
            <div class="invalid-feedback">Please Enter the country name</div>
          </div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>

          <input
            type="text"
            name="listing[location]"
            id="location"
            class="form-control"
            placeholder="Enter location"
            required
          />
          <div class="invalid-feedback">location should be valid</div>
        </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
